:root{
    /*Utopia Type Scale*/
  --step--2: clamp(0.434rem, 0.3615rem + 0.3094vw, 0.64rem);
  --step--1: clamp(0.5208rem, 0.4225rem + 0.4194vw, 0.8rem);
  --step-0: clamp(0.625rem, 0.493rem + 0.5634vw, 1rem);
  --step-1: clamp(0.75rem, 0.5739rem + 0.7512vw, 1.25rem);
  --step-2: clamp(0.9rem, 0.6667rem + 0.9953vw, 1.5625rem);
  --step-3: clamp(1.08rem, 0.7726rem + 1.3117vw, 1.9531rem);
  --step-4: clamp(1.296rem, 0.8927rem + 1.7208vw, 2.4414rem);
  --step-5: clamp(1.5552rem, 1.0282rem + 2.2483vw, 3.0518rem);

  /*Utopia Space Scale*/
  --space-3xs: clamp(0.1875rem, 0.1655rem + 0.0939vw, 0.25rem);
  --space-2xs: clamp(0.3125rem, 0.2465rem + 0.2817vw, 0.5rem);
  --space-xs: clamp(0.5rem, 0.412rem + 0.3756vw, 0.75rem);
  --space-s: clamp(0.625rem, 0.493rem + 0.5634vw, 1rem);
  --space-m: clamp(0.9375rem, 0.7394rem + 0.8451vw, 1.5rem);
  --space-l: clamp(1.25rem, 0.9859rem + 1.1268vw, 2rem);
  --space-xl: clamp(1.875rem, 1.4789rem + 1.6901vw, 3rem);
  --space-2xl: clamp(2.5rem, 1.9718rem + 2.2535vw, 4rem);
  --space-3xl: clamp(3.75rem, 2.9577rem + 3.3803vw, 6rem);

  /*Colors*/
  --dark-grey-blue: #48556aff;
  --dark-blue: #6d7f97ff;
  --grey-blue: #9eafc2ff;
  --light-grey-blue: #ecf2f8ff;

  /*Font-style*/
  --font-family: 'Manrope', sans-serif;
  --regular-font: 500;
  --bold-font: 700;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: var(--light-grey-blue);
}

.articleCard{
    display: grid;
    grid-template-columns: 1fr 2fr;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0px 0px 50px var(--grey-blue);
}

.articleImage{
    display: block; /* Removes space below img */
    max-inline-size: 100%; /* Adapts to 100% of parent's spaceavailable*/
}

.articleInfo{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: var(--space-s);
    margin: 0 var(--space-xl); /* top-bottom / left-right */
    font-family: var(--font-family);
    font-size: var(--step-0);
    color: var(--dark-grey-blue);
}

h1{
    font-size: var(--step-2);
}

h2, .date{
    font-size: var(--step-0);
}

.articleDetails{
    display: flex;
    justify-content: space-between;
}

.authorInfo{
    display: flex;
    gap: var(--space-s);
}

.details{
    display: flex;
    flex-direction: column;
}

.authorImg img{
    width: 40px;
    border-radius: 50%;
}

.divBtn{
    display: flex;
    align-items: center;
    justify-content: center;
}

a{
    background-color: var(--light-grey-blue);
    color: var(--dark-blue);
    padding: 10px;
    border-radius: 50%;
    font-size: var(--step-0);
}


@media(max-width: 795px) {

    body{
        display: flex;
        justify-content: center;
    }

    .articleCard{
        max-width: 90%;
        grid-template-columns: 1fr;
        margin: var(--space-xl) 0;
    }

    .articleInfo{
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: var(--space-s);
        margin: var(--space-l);
    }
}